.header {
    background: #09223b;
    color:#7f8692;
    height: 200px;
    .header-wrapper{
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        .container{
            display: flex;
            justify-content: space-between;
            flex-flow: row;
            padding: 20px 0px;
            .left-header{
                .logo-area{
                    h1{
                        margin: 0px;
                        padding: 0px;
                        span{
                            color:#f8931e;
                        }
                    }
                    p{
                        margin: 0px;
                        padding: 0px;
                        letter-spacing: 2px;
                    }
                }
            }
            .right-header{
                .nav-area{
                    ul{
                        list-style: none;
                        display: block;
                        margin: 0px;
                        padding: 0px;
                        li{
                            list-style: none;
                            float: left;
                            margin: 0px;
                            padding: 0px;
                            a{
                                text-decoration: none;
                                color:#7f8692;
                                font-size: 14px;
                                font-weight: 500;
                                padding: 10px 20px;
                                display: block;
                            }
                        }
                        li:hover{
                            a{
                                color: #bd7730;
                            }
                        }
                        li.active{
                            a{
                                background: #24394f;
                                border-radius: 40px;
                                color: #bd7730;
                            }
                        }
                    }
                }
            }
        }
        
    }
}